
h1 {
	color: #3CB371;
}

p {
	font-family: "Fira Code", Tahoma, arial;
	text-align: center;
}

/*
text-align
	Com a propriedade text-align, os textos podem ser alinhados à esquerda (left), à direita (right)
	ou centralizados (center). Tem também o valor justify, que justifica o texto.
*/



