
h1 {
	color: #00AADD;
	text-decoration: underline;
	text-transform: uppercase;
}

p {
	font-family: "Fira Code", Tahoma, arial;
	text-align: justify;
	letter-spacing: 2px;
}

/*
Letter Spacing
	A função do letter-spacing é aplicar um espaço entre as letras do texto do elemento.
*/



