
h1 {
	color: #3CB371;
	text-decoration: underline;
	text-transform: uppercase;
}

p {
	font-family: "Fira Code", Tahoma, arial;
	text-align: justify;
}

/*
text-transform
	A propriedade text-transform controla o tipo de "caixa" (maiúscula ou minúscula) do texto.
	capitalize - Capitaliza a primeira letra de cada palavra. Por exemplo: "treinaweb cursos" transforma-se em "Treinaweb Cursos";
	uppercase - Converte todas as letras para maiúscula. Por exemplo: "treinaweb cursos" transforma-se em "TREINAWEB CURSOS";
	lowercase - Converte todas as letras para minúscula. Por exemplo: "TREINAWEB CURSOS" transforma-se em "treinaweb cursos";
	none - Sem transformações - o texto é apresentado como foi informado no HTML.
*/



